<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Google map API and key -->
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC36Mq4sQqGL0ePgZRKN_FqCeY1olujJFM"></script>
      <!-- For the jquery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
      <script src="/static/js/jquery-3.2.0.min.js"></script>
      <!-- This is to get the _.ForEach working in the javaScript file -->
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
       <script type="text/javascript">google.charts.load('current', {'packages':['bar']});</script>
      <link href="/static/style.css" rel="stylesheet" type="text/css">
      <!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
      <title>Dublin Bikes project</title>
       <style>
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
       </style>
   </head>
   <body>
       <div class="bg">
	   <header>
    <img src="../static/images/Dublin_Bikes_logo.jpg" alt="BikeLogo" style="float: right; width: 200px; height: 90px; border: none; margin-top: 8px;">
  <h1>Dublin Bikes project</h1>
       </header>
       <br><br>
      
<!-- Display the map -->
            <div class="inline" id="map" style="width:60%;height:50%;">
                                <script src="/static/js/app.js"></script>
                                 </div>
                 
<!--  To display current weather information etc.   -->
           <div id="weather_info"></div>
  <!--  To display stats - occupancy information etc.   -->
       <div class="container2">
       <div id="display" class="polaroid">
        <p id="availability"></p>
       </div>
       </div>
<!-- Displaying charts -->   
           
       <div id="dropdown" style="width: 50%; margin-top: 30%;">
           <select id="select" >
               <option value="">-- Select --</option>
           </select>
       
       
       
    <select id="select_date" >
               <option value="">-- Select date --</option>
           </select>
           <select id="select_time" >
               <option value="">-- Select time --</option>
           </select>
           <select id="hire_or_return"> 
           <option value="">-- Hire or return a bike--</option>
               <option value="hire">Hire a bike</option>
               <option value="return">Return a bike</option>
           </select>
    <form>
       
        <br>
        <button id="button1" type="button" onclick="show()">Submit</button>
    </form>
           <br>
       
       <br>
           <div id="predicted_bikes"></div>
    </div>
               
       
       <div id="dTime">
           <select id="select-type" onchange="updateType(this)">
               <option selected value="daily">Daily</option>
               <option value="hourly">Hourly</option>
                          </select>
       <div class="stats" id ="daily_div"></div>
           </div>
               
       
       </div>
 </body>
</html>

