body,html {

    
    font-family: "calibri";
   
    }

.bg {
    /* The image used */
    background-image: url("images/DublinBikes.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header, footer {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #084C55;
    color: white;
    text-align: center;
    font-size: 20px;
    max-height: 100px;
    border-radius: 15px;
    width: 100%;
    position: relative;
}
#weather_info{
    
   
     border-radius: 15px;
    color: white;
    padding: 1px;
    position: relative;
    float: right;
    right: 10px;
     width: 250px;
    height: 250px;
    font-size: 16px;
    background-color: #084C55;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}



#map {

    border-radius: 5px;

}



/*div.container {
    width: 440px;
    height: 400px;
    float:left;
}*/



div.inline {
    float: left;
   
    border: 2px solid black;
    position: absolute;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



#availability {
    color: white;
    height: 90px;
    width: 200px;
    padding: 10px;

}



#image {

    border: 2px solid black;
    border-radius: 15px;
    width: 248px;
    height: 160px;

}




div.container2 {

    width: 280px;
   
    height: 280px;
    display: block;
    position: relative;
    float: right;
    

}



div.polaroid {

    text-align: center;
    font-size: 17.5px;
    float: left;
    display: none;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #084C55;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}






button {

    border-radius: 2px;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    background-color: lightgrey;

}



button:hover {
    background-color: #084C55;
    color: white;

}
#button1 {
    width: 8%;
}


#dropdown{
    /*margin-top: 30%;*/
    /*height: 50%;*/
    /*clear: both;
    float: left;
    clear: left;*/
    float: left;
    clear: left;
}
#predicted_bikes {
    /*margin-left: 30%;
    float: left;*/
    /*width: 50%;
    margin-top: 50%;*/
    
}

#daily_div{
    /*width: 10%;
    float: right;*/
    margin-right: 5%;
    margin-top: 5%;
}
#dTime{
    width: 10%;
    float: right;
    margin-right: 25%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/cyc1200.gif) center no-repeat #084C55;

}
